---

---

<header
  class="fixed top-0 w-full flex py-2 px-4 justify-between items-center h-14 bg-white/40 backdrop-blur-sm z-[999]"
>
  <a href="/" class="text-3xl font-bold bg-gradient-to-br from-sky-300 to-emerald-600 bg-clip-text text-transparent">NationStats</a>
</header>
