---
import countries from "../../countries_new.json"
---

<header
  class="fixed top-0 w-full flex py-2 px-4 justify-between items-center h-14 bg-white/40 backdrop-blur-sm z-[999]"
>
  <a
    href="/"
    class="text-3xl font-bold bg-gradient-to-br from-sky-300 to-emerald-600 bg-clip-text text-transparent"
    >NationStats</a
  >
  <form data-search-form>
    <input
      type="text"
      data-search-input
      placeholder="Search Countries..."
      list="countries"
      class="indent-2 py-2 rounded-full"
    />
    <datalist id="countries">
      {
        countries.map(country => {
          return <option value={country.name.common} />
        })
      }
    </datalist>
  </form>
</header>

<script>
  import { navigate } from 'astro:transitions/client';
  const form = document.querySelector("[data-search-form]")
  const input = document.querySelector("[data-search-input]") as HTMLInputElement
  form?.addEventListener("submit", e => {
    e.preventDefault()
    const inputValue = input?.value
    // add here if not in countries return
    navigate(`/countries/${input?.value}`)
  })
</script>
